/README.md
output

/dev/build/pgdk.ncb
/dev/build/pgdk.vcproj.TY-LIUZHIYONG.LIUZHIYONG.user
/dev/build/temp/BuildLog.htm
/dev/build/temp/Debug/pgdk_d.lib
/dev/build/temp/Release/pgdk.lib
/dev/build/temp/pgdk.pch
/dev/build/temp/pgdk_d.pch
/dev/build/temp/stdafx.obj
/dev/build/temp/vc90.idb
/dev/build/temp/vc90.pdb
/dev/pgdk.ncb
/dev/pgdk.suo
/dev/build/temp/*.obj
/dev/build/temp/*.obj
/dev/build/temp/*.obj
/dev/build/temp/*.obj
temp
