/README.md
output

/dev/build/pgdk.ncb
/dev/build/pgdk.vcproj.TY-LIUZHIYONG.LIUZHIYONG.user
/dev/build/temp/BuildLog.htm
/dev/build/temp/Debug/pgdk_d.lib
/dev/build/temp/Release/pgdk.lib
/dev/build/temp/pgdk.pch
/dev/build/temp/pgdk_d.pch
/dev/build/temp/stdafx.obj
/dev/build/temp/vc90.idb
/dev/build/temp/vc90.pdb
/dev/pgdk.ncb
/dev/pgdk.suo
/dev/build/temp/*.obj
/dev/build/temp/*.obj
/dev/build/temp/*.obj
/dev/build/temp/*.obj

/dev/examples/build/temp/BuildLog.htm
/dev/examples/build/temp/Debug/delegate_d.exe
/dev/examples/build/temp/Debug/delegate_d.ilk
/dev/examples/build/temp/Debug/delegate_d.pdb
/dev/examples/build/temp/Release/delegate.exe
/dev/examples/build/temp/Release/delegate.pdb
/dev/examples/build/temp/delegate.exe.intermediate.manifest
/dev/examples/build/temp/delegate.obj
/dev/examples/build/temp/delegate.pch
/dev/examples/build/temp/delegate_d.exe.embed.manifest
/dev/examples/build/temp/delegate_d.exe.embed.manifest.res
/dev/examples/build/temp/delegate_d.exe.intermediate.manifest
/dev/examples/build/temp/delegate_d.pch
/dev/examples/build/temp/delegate_d_d.pch
/dev/examples/build/temp/mt.dep
/dev/examples/build/temp/stdafx.obj
/dev/examples/build/temp/vc90.idb
/dev/examples/build/temp/vc90.pdb